@font-face {
  font-family: 'MPlus2';
  src: url('./fonts/mplus-2p-light-sub.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'MPlus2', 'Helvetica Neue', Arial, sans-serif;
  background: #000005;
  color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
